* {
    box-sizing: border-box;
}
  
  
  
  
  
  
  
  
  
:root{
--main-color:c00a27#;
--red:#e74c3c;
--orange:#f39c12;
--light-color:#666;
--light-bg:#eee;
--white:#fff;
--black:#2c3e50;
--border:.1rem solid rgba(0,0,0,.3);
--box-shodow:0 .5rem 1rem rgba(0,0,0,.1);
}

.topbar {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 103px;
    background-color: #c00a27;
    font-family: 'Paprika', sans-serif;
    z-index: 2;
}

.topbar > .logo-container {
    width: 12.125rem;
    height: 6.438rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar-logo1 {
    padding-left: 0.8rem;
    font-size: 36px;
    transform: rotate(-6.4deg);
    color: #fff;
}

.topbar-menu {
    height: 6.438rem;
    display: flex;
    padding: 0 32px;
    justify-content: center;
    align-items: center;
}

.topbar-nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

.topbar-nav a {
    padding: 0.5rem;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    font-family: 'Geologica', sans-serif;
}

.topbar-nav a:hover,
.active {
    background: #00a149;
    border-radius: 50px;
}

.topbar-last-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 10px;
}

.topbar-last-section .container-numero .cart-icon {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    padding:.3rem .7rem;
    background-color: transparent;
    color: var(--white);
    border: var(--border);
    border-radius: .5rem;
}

.topbar-last-section .container-numero .cart-icon span {
margin-left: 5px;
}

.container-numero {
display: flex;
align-items: center;
}

.numero {
font-size: 20px;
font-weight: bold;
color: white;
font-family: 'Geologica', sans-serif;
margin-right: 5.125rem;
}

.img-numero {
width: 36px;
height: 36px;
margin-right: 10px;
color: #fff;
}

.cart-icon {
margin-right: 63px;
}

@media screen and (max-width: 1020px) {

.topbar-last-section {
    display: none;
}

.nav-toggler {
    position: absolute;
    z-index: 10;
    top: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #f1f1f1;
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}

.l1 {
    transform: translateY(-10px);
}

.l3 {
    transform: translateY(10px);
}

.nav-toggler.active .l1 {
    transform: translateY(0px) rotate(135deg);
}

.nav-toggler.active .l2 {
    opacity: 0;
}
.nav-toggler.active .l3 {
    transform: translateY(0px) rotate(-135deg);
}

.topbar-menu .topbar-nav {
    position: absolute;
    top: 0px;
    width: 50vw;
    min-height: 30vh;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    background: radial-gradient(rgb(107, 107, 16), #c00a27);
    border-left: 1px solid #cfcfcf;
    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
    z-index: 10;
}

.topbar-nav.active {
    display: flex;
    transform: translate(0);
}
}